/* Font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* shared style */
body{
    font-family: merriweather, sans-serif;
}
.common-font{
    font-family: Inter, sans-serif;
}
.primary-color{
    color: #FF0000;
}
.primary-img{
    max-width: 1320px;
    background-repeat: no-repeat;
    border-radius: 16px;
}
/* header style */
.container{
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('../images/Banner\ Image.png');
    background-position: center;
    height: 600px;
    align-items: center;
    margin: 50px 140px;

}
.container .title{
    color: #ffffff;
    padding: 160px 340px;
}
.title h3{
    font-size: 32px;
    padding-bottom: 0px;
}
.title h1{
    font-size: 73px;
}

/* main style */
.banner1{
    text-align: center;
    margin: 120px 140px;
}
.banner1 .offer{
    font-weight: bold;
    font-size: 88px;
}
.banner1 .small-bn{
    font-weight: 300px;
    font-size: 24px;
}
.banner1 .allitem{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
}
/* banner2 style */
.banner2{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/Vectorrr.png);
    background-position: center;
    margin: 120px 140px;
    display: flex;
    gap: 40px;
    height: 600px;
}
.banner2 .banner2-content{
    text-align: left;
    padding: 126px 0px 142px 126px;
    color: #FFFFFF;
    letter-spacing: 11%;
}
.banner2 .banner2-title{
    font-size: 64px;
    font-weight: bolder;
    padding-right: 55px;
}
.banner2 .join{
    padding-left: 32px;
}
.banner2 .banner2-img{
    padding: 68px 138px 68px 0px;
}

/* banner3 style */

.banner3{
    text-align: center;
    background: #f5d5d5;
    padding: 100px 0px;
    margin: 120px 140px;
}
.banner3 .banner3-title{
    font-size: 32px;
}
.banner3-btn{
    font-size: 20px;
    font-weight: bold;
    padding: 16px 32px;
    background: #FF0000;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
}

/* banner4 styles */

.banner4{
    height: 480px;
    display: flex;
    gap: 60px;
    margin: 120px 140px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
}
.banner4-title-img img{
    margin: 30px;
    padding: 50px;
}