/* Font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* shared style */
/* body{
    font-family: "merriweather", serif;
    margin: 120px 140px;
} */
.common-font{
    font-family: Inter, sans-serif;
}
.primary-color{
    color: #FF0000;
}
.primary-img{
    max-width: 1320px;
    background-repeat: no-repeat;
    border-radius: 16px;
}
/* header style */
.container{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../images/Banner\ Image.png');
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    height: 500px;
    align-items: center;
    /* margin: 50px auto; */
    margin: 80px 140px 80px 140px;
}
.container .title{
    color: #ffffff;
    padding: 150px 200px 150px 200px;
}
.title h3{
    font-size: 32px;
    padding-bottom: 0px;
}
.title h1{
    font-size: 73px;
}

/* main style */
.banner1{
    text-align: center;
    margin: 120px 140px;
}
.banner1 .offer{
    font-weight: bold;
    font-size: 88px;
    margin-bottom: 48px;
}
.banner1 .small-bn{
    font-weight: 300px;
    font-size: 24px;
    margin-bottom: 16px;
}
.banner1 .allitem{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
}
/* banner2 style */
.banner2{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    margin: 120px 140px;
    display: flex;
    gap: 40px;
    height: 550px;
}
.banner2 .banner2-content{
    text-align: left;
    padding: 126px 0px 142px 126px;
    color: #FFFFFF;
    letter-spacing: 11%;
}
.banner2 .banner2-title{
    font-size: 64px;
    font-weight: bolder;
    padding-right: 55px;
}
.banner2 .join{
    padding-left: 32px;
}
.banner2 .banner2-img{
    padding: 60px 100px 68px 0px;
    max-width: 340px;
    max-height: 400px;
    margin-right: 100px;
}

/* banner3 style */

.banner3{
    text-align: center;
    background: #f5d5d5;
    padding: 100px 0px;
    margin: 120px 140px;
    line-height: 56px;
}
.banner3 .banner3-title{
    font-size: 32px;
}
.banner3-btn{
    font-size: 20px;
    font-weight: bold;
    padding: 16px 32px;
    background: #FF0000;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    margin: 48px 0px 50px 0px;
}

/* banner4 styles */

.banner4{
    height: 480px;
    display: flex;
    gap: 30px;
    margin: 120px 140px 120px 140px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
}
.banner4-title-img img{
    margin: 30px;
    padding: 50px;
}

/* banner5 styles */

.banner5{
    margin: 120px 140px;
    height: 986px;
}
.banner5 .banner5-content{
    text-align: center;
}
.banner5-content h2{
    font-size: 24px;
    font-weight: 400px;
    color: #070211;
    margin-bottom: 16px;
}
.banner5-content h1{
    font-size: 72px;
    font-weight: bolder;
    font-family: "Merriweather",serif;
    padding-bottom: 28px;
}
.banner5-content p{
    font-size: 20px;
    font-weight: 400px;
    font-family: "Inter",serif;
    padding: 0px 126px 64px 126px;
    line-height: 32px;
}
.banner5-img{
    display: flex;
    justify-content: space-between;
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 16px;
}
.banner5-img .img1{
    padding: 64px 0px 85px 60px;
    max-width: 675px;
    max-height: 578px;
}
.banner5-img .img2{
    max-width: 305px;
    max-height: 305px;
}
/* banner6 styles */
section{
    margin: 120px 140px;
}

section .banner6{
    max-width: 1320px;
    border-radius: 16px;

}
.banner6 .banner6-content{
    text-align: left;
    line-height: 32px;
}
.banner6-content h4{
    font-size: 24px;
    font-weight: 400px;
}
.banner6-content h1{
    font-size: 48px;
    font-weight: bold;
    padding: 16px 0px 32px 0px;
}
.banner6-content p{
    padding: 0px 424px 48px 0px;
    font-family: "inter",serif;
    font-size: 20px;
    line-height: 32px;
}
.banner6-images{
    height: 900px;
    border-radius: 16px;
}
.image6{
    display: inline-table;
}

/* footer styles */
footer{
    margin: 120px 140px;
    max-width: 1320px;
    
}
.footer{
    text-align: center;
    background-color: #f5d5d5;
    align-items: center;
    padding: 80px 212px 48px 212px;
    border-radius: 16px;
}
.footer-title{
    font-size: 48px;
    font-weight: bold;
    font-family: "Merriweather", serif;
    padding: 30px 0px 22px 0px;
}
.footer-btn1{
    padding: 20px 0px 20px 30px;
    border-radius: 50px 0px 0px 50px;
    border: none;
}
.footer-btn2{
    padding: 20px 30px 20px 30px;
    border-radius: 0px 50px 50px 0px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
}
.footer-button{
    margin-top: 20px;
}